.articlesNews {

    margin-top: 200px;

    &__content-head {
        margin-bottom: 27px;
    }

    .news{
        margin-bottom: 20px;
    }
}
.content {

    // .content__head

    &__head {
    }
}
.news {

    // .news__card-news

    &__card-news {
    }
}
.homepage {

    // .homepage__articleNews

    &__articleNews {
    }
}
.card-news {

    // .card-news__card-news-top

    &__card-news-top {
    }
}
.card-news-top {

    // .card-news-top__pic-block

    &__pic-block {
    }

    // .card-news-top__tag

    &__tag {
    }
}
.pic-block {
}
.tag {
}
.tag-text {
}
.card-news-middle {

    // .card-news-middle__content-head

    &__content-head {
    }

    // .card-news-middle__date

    &__date {
    }

    // .card-news-middle__date-text

    &__date-text {
    }
}
.date {
}
.date-text {
}
