
$primaryOne: #CDA274;
$primaryTwo: #292F36;
$primaryThree: #F4F0EC;

$mainFont: "Jost", sans-serif;
$headFont: "DM Serif Display", serif;


$headBig: 85px;
$headOne: 50px;
$headTwo: 35px;
$headThree: 25px;
$headFour: 22px;
$headFive: 20px;
$headSix: 18px;

$largeDesc: 22px;
$midDesc: 20px;
$smallDesc: 18px;

$textStyleStand: 400;
$textStyleBold: 700;
$textStyleItal: italic;
